body,
html {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: #f0f2f5;
  height: 100%;
  letter-spacing: 0;
}

.root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0rem;
}

p {
  margin: 0;
}

header {
  height: 48px;
  background: #3c8dbd;
  color: white;
}

header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

header a.active {
  background-color: #4caf50;
  color: white;
}

/* Panels Filter */

.panelsFilter {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 300px) {
  .panelsFilter {
    margin: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

/* Panel Filter */

.panelFilter {
  width: auto;
  margin: 0px 20px 0px 0px;
}

@media (max-width: 300px) {
  .panelFilter {
    margin: 10px;
    min-width: auto;
  }
}

/* Panels */

.panels {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 300px) {
  .panels {
    margin: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

/* Panel */

.panel {
  margin: 0px 50px 50px 10px;
  width: 300px;
}

@media (max-width: 300px) {
  .panel {
    margin: 10px;
    min-width: auto;
  }

  .panel:not(:nth-child(4n + 1)) {
    margin-left: 10px;
  }
}

/* Card */
.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.19), 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 0rem;
}

.card > .card--title {
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: white;
  margin: 0;
  background-color: #3c8dbd;
}

.card > .card--container {
  padding: 20px;
}

.card p {
  padding: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  color: black;
  margin: 0;
}

/* Input  */

.input--input {
  margin: 0;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 200;
  border: 2px solid #3c8dbd;
  padding: 0.7rem 1rem;
  height: auto;
}

/* Vertical Input */

.vertical-input {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.vertical-input .input--label {
  margin: 0;
  color: #3c8dbd;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

/* Horizontal Input */

.horizontal-input {
  display: flex;
  flex-direction: row;
  padding: 12px;
  padding-top: 0;
  align-items: baseline;
  max-width: 600px;
}

.horizontal-input .input--label {
  margin: 0;
  color: #3c8dbd;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 0.2rem;
  width: 130px;
}

/* Select  */

.select--select {
  margin: 0;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 200;
  border: 2px solid #3c8dbd;
  padding: 0.7rem 1rem;
  height: auto;
}

/* Vertical Select  */

.vertical-select {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.vertical-select .select--label {
  margin: 0;
  color: #3c8dbd;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
}

/* Horizontal Select  */

.horizontal-select {
  display: flex;
  flex-direction: row;
  padding: 12px;
  padding-top: 0;
  align-items: baseline;
}

.horizontal-select .select--label {
  margin: 0;
  color: #3c8dbd;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 0.2rem;
}

.checkbox .checkbox--label {
  margin: 0;
  color: #3c8dbd;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 0.2rem;
}

/* ButtonContainer */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
}

button {
  box-shadow: inset 0px 1px 0px 0px #2d79a5;
  background-color: #3c8dbd;
  border: 1px solid #2d79a5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 6px 12px;
  text-decoration: none;
}
button:hover {
  background: linear-gradient(to bottom, #2d79a5 5%, #637aad 100%);
  background-color: #2d79a5;
}
button:active {
  position: relative;
  top: 1px;
}

.containerhorizontal {
  display: flex;
  margin-top: 50px;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  /* background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0); */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.wrap-table100 {
  width: 95%;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 50px;
  background: #3c8dbd;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: center;
}
table td.l,
table th.l {
  text-align: center;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
.table100-head th {
  font-size: 16px;
  color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  font-size: 15px;
  color: gray;
}
/* tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
} */

.column1 {
  max-width: 200px;
}
.column2 {
  max-width: 50px;
}
.column3 {
  max-width: 245px;
}
.column4 {
  max-width: 120px;
}
.column5 {
  max-width: 120px;
}
.column6 {
  max-width: 150px;
}

.column7 {
  width: 250px;
}
@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }
  tbody tr {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
